body{
  background-image: url("https://unsplash.imgix.net/photo-1422513391413-ddd4f2ce3340?dpr=2&fit=crop&fm=jpg&h=700&q=75&w=1050");
  height: auto;
  margin: auto;
  background-size: cover;
  background-repeat: repeat;
}

.Title {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  height: 350px;
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}

.sub-heading {
  font-family: 'Josefin Sans', sans-serif;
  color: lightgrey;
  text-align: center;
  font-size: 50px;
}

.Quote {
  font-family: 'Josefin Sans', sans-serif;
  color: #FDFDFD;
  text-align: center;
  font-size: 50px;
}

span {
  color: darkgrey;
  font-size: 40px;
  display: inline-block;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
}
