html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body {
    font-family: 'Special Elite';
    font-weight:100;
    width:100%;
    height:100%;
    max-height:100%;
    max-width:100%;
    /*margin:0 auto;*/
    text-align:center;
    padding-top: 70px;
}

p {
  font-size: 30px;
}

.profilePic {
  margin-top: 30px;
  height: 350px;
  width: 300px;
  border-radius: 20px;
}

.aboutMeTxt {
  text-align: left;
  font-size: 30px;
}

.aboutMe {
  margin-top: 25px;
}

.headlineTxt {
  font-size: 40px;
  margin-bottom: 50px;
}

#navBarName {
  font-size: 2.2em;
  height: 10px;
}

.btn-primary {
  margin-top: 10px;
}

.navbar-text > a {
  color: inherit;
  text-decoration: none;
}

.navbar-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio-item {
  margin-bottom: 25px;
  margin-top: 25px;
}

.quotePic {
  height: 395px;
}


.moviePic {
  height: 400px;
}

.well-sm {
  margin-top: 45px;
}

.fa {
  color: white;
  font-size: 35px;
  padding-top: 10px;
  padding-right: 40px;
}

.bigicon {
  color: black;
}

.skills_container {
  background: rgb(178, 240, 255);
}

.bottom_container {
   margin-bottom: 50px;
}

#navTopText {
  font-family: 'Special Elite';
  font-size: 25px;
  color: white;
  margin-top: 10px;
}

#stocksQuoteTxt {
  margin-bottom: 100px;
}

.text-center {
  font-family: 'Special Elite';
  font-size: 40px;
}

#footerQuote {
  font-family: 'Special Elite';
  font-size: 20px;
  color: white;
  margin-top: 10px;
}
